/* src/App.css */
.App {
    text-align: center;
  }
  
  .controles {
    margin-bottom: 20px;
  }
  
  .controles input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .lista-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tarefa {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  .tarefa.concluida {
    text-decoration: line-through;
  }
  